* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color:white;
}

header {
    border-bottom: 1px solid rgb(71, 71, 76);
    background-color: rgb(13, 13, 20);
    width: 100%;
    text-align: center;
}

main {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr ;
    grid-template-areas: 
        'tasks-area'
        'preview-area';
    width: 100%;
    height:100%;
    background-color: rgb(45, 45, 55);
}

div#tasks {
    grid-area: tasks-area;
    display: flex;
    flex-direction: column;
    padding:1rem;
    overflow-x: auto;
    white-space: nowrap;
    gap:1rem;
}

div#tasks_area {
    position: relative;
}


#preview_area {
    grid-area: preview-area;
    justify-self: center;
    display: flex;
    flex-direction: row;
    width: 95%;
    border-top: 1px solid rgb(175, 175, 175);
    gap: 1rem;
    padding: 1rem;
}
div#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(45, 45, 55);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem

}

.task_button{
    font-size: 1rem;
    background-color: #184bf5;
    color: white;
    border-radius: 2rem;
    height: 3rem;
    padding:1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}
.task_button:hover, #hide_button:hover {
    background-color: rgb(80, 113, 153);
    transform: scale(1.03)
}

.delete_button {
    font-size: 1rem;
    background-color: rgb(45, 45, 55);
    color: red;
    border-radius: 1rem;
    width: 4rem ;
    height: 25px;
    border: 2px solid red;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.delete_button:hover {
    transform: scale(1.03)
}

#input_task {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: rgb(45, 45, 55);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 1rem;
    padding: 1rem;
    gap:1rem
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 45, 55);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 1rem;
    min-width: auto;
    width: 70%;
    gap:1rem;
    padding:1rem;
}

.card_title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.card_info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

textarea {
    width: 100%;
    min-height: 3rem;
    resize: none;
    overflow: hidden;

}

.desc {
    display:none;
}

.show_desc {
    text-decoration: none;
    color: white;
}

#hide_button{
    display: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 2rem;
    background-color: #184bf5;
    border: none;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2 ease;
}

footer {
    display: flex;
    background-color: rgb(13, 13, 20);
    width:100%;
    justify-content: center;
    color: white;
}